html {
	margin: 3em;
	background-color: #659dbd;
	font: 100%/1.6 Georgia, Ariel, sans;
	color: #ffffff;
	line-height: 1.5em;
<<<<<<< HEAD

	color: #ffffff;
=======
	color: #00ff00;
>>>>>>> 662e3a1c5b14ff699b780f25507be22e8ef7cceb
}


/* Links are `a` elements in HTML */
a {
	text-decoration: none;
	margin: 0 0.5em 0 0;
	padding: 3px;
}

/* :hover	 is what it will look like when you hover the mouse over an element */
a:hover {
	background-color: #daad86;
}

/* You can define any color with a 3-digit "hex-code" */
/* The three values are from 0-F, and represent Red, Green, Blue */
header {
<<<<<<< HEAD
	color: #ffffff;
=======
	color: #daad86;
	font-size: 150%;
>>>>>>> 662e3a1c5b14ff699b780f25507be22e8ef7cceb
}

article {
	padding: 1em;
}

.dropbtn {
  background-color: #fbeec1;
  color: #333333;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Styles attached to element-names apply to _every_ element
	 with that name */
div {

}

/* To specify style for only _some_ elements
	 you can identify them by classes (the classes have to be
	 in the HTML)
*/
div.cts_corpus {
		color: #ffffff;
}


/* You can specify just a class name… */
.cts_workTitle {
	font-style: italic;
}

/* Fonts are tricky… read about them online! */
.cts_citationScheme {
	color: #ffffff;
	font-family: DejaVu-Sans-Mono, monospace;
}

.cts_corpusTitle {
	color: #fbeec1 ;
}

/* You can add space on any side of something with:
		- margin-right
		- margin-left
		- margin-top
		- margin-bottom

*/
.cts_ref {
	margin-right: 2em;
	font-style: bold;
	color: #ffffff;
}

.cts_ref:hover{
	background-color: #bc986a
}

.cts_node {
	border: 2px solid #fbeec1;
	margin: 1em;
	max-width: 40em;
	color: #ffffff;
}
.cts_corpusTitle{
	background-color: #ffff00
	margin: 0 auto;
}

.cts_corpusTitle:hover{
	margin: 0 auto;
}

progress.cts_progress {
	width: 100%;
}
